body {
    padding-top: 30px;
    background-color: #f8f8f8;
    font-family: "Arvo", serif;
    color: #1a1a1a;
    font-size: 0.8em;
    line-height: 1.8em;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
a {
    text-decoration: none;
    color: #0505af;
}
.section {
    max-width: 800px;
    margin: 0 auto;
}
.section > .title {
    font-size: 18pt;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    color: #313436;
    border-bottom: 1px solid #313436;
    padding-bottom: 0.6em;
    margin-bottom: 0.8em;
}
.section > .row {
    clear: both;
}
.section .image > img {
    width: 100%;
}
#profile-photo > img {
    border-radius: 300px;
}

/**
 * Styling for the publication list
 */
.paper-title { padding-top: 2.5%; font-weight: bold; }
.paper .conference { font-style: italic; }
.paper .links a:first-child { margin-left: 0px; }
.paper .links a { margin: 10px; }
.paper .links .link-content {
    display: none;
    font-style: italic;
    margin-top: 10px;
}
.paper .links .link-content > pre {
    font-style: normal;
    line-height: 1.2em;
}

/**
 *  Conditional styles first for mobile (or generally narrow screens) and then
 *  for the rest
 */
@media (width < 500px) {
    .row > div {
        float: none;
    }
    .section .content {
        width: 90%;
        margin: 0 auto;
    }
    .section .image {
        width: 80%;
        padding: 0;
        margin: 0 auto;
    }
}
@media (width > 500px) {
    .row > div {
        float: left;
    }
    .section .content {
        width: 70%;
    }
    .section .image {
        width: 25%;
        padding: 2.5%;
    }
}
